export V1=$(sed -n 's/^version: \(.*\)$/\1/p' v1/my-pkg/daml.yaml)
export V2=$(sed -n 's/^version: \(.*\)$/\1/p' v2/my-pkg/daml.yaml)
export V1_HELPER_SUFFIX=$(md5sum v1/helper/daml.yaml v1/helper/daml/* | md5sum | cut -b1-32)
export V2_HELPER_SUFFIX=$(md5sum v2/helper/daml.yaml v2/helper/daml/* | md5sum | cut -b1-32)

